<!DOCTYPE html>
<html lang="en">
<head>
	<title>S.B.T. Surety Bond Trading Platform</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="sbt.css">
</head>
<body>
	<section class="title">
		<h1>S.B.T. <br>  Surety Bond <br> Trading Platform</h1>
		<section class="quote">
			<p>"Every opportunity has a different intensity of risks and benefits for different people. <br> Choose the opportunities that fit best in your risk-benefit matrix."</p>
		</section>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</section>
	<div class="container">
		<div class="left-container">
			<section class="vat">
				<h2>Insert Vat Number</h2>
				<p1> Inserire P.Iva </p1>
				<p2>Per ottenere i dati finanziari degli ultimi tree bilanci depositati</p2>
				<br>
				<br>
				<br>
				<form action="/calculation" method="post">
					<label for="insert-text" class="insert-text">Inserire P.IVA cliente :</label>
					<input type="text" name="insert-text" id="insert-text" required>
					<input type="submit" value="Run Calculation">
					<span class="error-msg"></span>
				</form>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<section class="options">
					<label>
						<input type="checkbox" name="option1" value="API_MODELLO">
						API + MODELLO
					</label>
					<label>
						<input type="checkbox" name="option2" value="P2P_INFO_SHARING">
						P2P - INFO SHARING
					</label>
					<label>
						<input type="checkbox" name="option3" value="API_MODELLO_P2P">
						API + MODELLO + P2P
					</label>
					<button type="submit">Submit</button>
				</section>
				<br>
				<br>			
				<br>
				<br>
				<section class="todo">
					<h3></h3>
					<p></p>
					<p></p>
				</section>
				<section class="empty">
					<h3></h3>
					<h4></h4>
					<p></p>
					<h4></h4>
					<p></p>
				</section>
			</section>
		</div>
		<div class="divider"></div>
		<div class="right-container">
			<section class="vat">
				<h2>Full Risk Assesment</h2>
				<p> Type of Surety Bond</p1>
				<p>Surety Bond Duration</p>
				<p>Subject Area</p>
				<p>Subject of the Surety Bond</p>
				<p>Claim Trigger</p>
				<br>
				<form action="#" method="post">
					<label for="insert-text" class="insert-text">Enter Bond Value £ :</label>
					<input type="text" name="insert-text" id="insert-text" required>
					<input type="submit" value="Submit">
					<span class="error-msg"></span>
				</form>
				<br>
				<form action="#" method="post">
					<label for="insert-text" class="insert-text">Enter Obligations / Works £ :</label>
					<input type="text" name="insert-text" id="insert-text" required>
					<input type="submit" value="Submit">
					<span class="error-msg"></span>
				</form>
				<br>
				<form action="#" method="post">
					<label for="insert-text" class="insert-text">Enter Disocunt To Tender % :</label>
					<input type="text" name="insert-text" id="insert-text" required>
					<input type="submit" value="Submit">
					<span class="error-msg"></span>
				</form>
				<br>
				<br>
				<section class="options">
					<label>
						<input type="checkbox" name="option1" value="API_MODELLO">
						API + MODELLO
					</label>
					<label>
						<input type="checkbox" name="option2" value="P2P_INFO_SHARING">
						P2P - INFO SHARING
					</label>
					<label>
						<input type="checkbox" name="option3" value="API_MODELLO_P2P">
						API + MODELLO + P2P
					</label>
					<button type="submit">Submit</button>
				</section>
				<br>
				<br>			
				<br>
				<br>
				<section class="todo">
					<h3></h3>
					<p></p>
					<p></p>
				</section>
				<section class="empty">
					<h3></h3>
					<h4></h4>
					<p></p>
					<h4></h4>
					<p></p>
				</section>
			</section>
		</div>
	</div>
	<div class="image-container">
		<img src="sbt-chart.png" alt="S.B.T. chart" width="95%" height="85%">
	</div>
	<section class="footer">
	</section>
</body>
</html>
